{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>
    Login Page
    </h1>
    <div class = "flex-container-1">
        <form class="login-form" name="login" action="http://127.0.0.1:5000/login" method="POST">
            <label class ="login-label">Username:
                <input type="text" id="username" name="username" title = "Enter your username" required>
            </label><br/>
            <label class = "login-label">Password:
                <input type="text" id="password" name="password" title = "Enter your password" required>
            </label>
            <br>
            <br>
            <input class = "login-btn" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}