{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/nametags10.css') }}"/>
{% endblock %}
{% block content %}
    <div class = "nametag-page">
        <div class = "nametag-row">
            <div class = "left-nametag">
                <p class = "fullname">
                    fullname
                </p>
                <p class = "position">
                    position
                </p>
                <p class = "company">
                    company
                </p>
                <p class = "citystate">
                    city, state
                </p>
            </div>
            <div class = "right-nametag">
                <p class = "fullname">
                    fullname
                </p>
                <p class = "position">
                    position
                </p>
                <p class = "company">
                    company
                </p>
                <p class = "citystate">
                    city, state
                </p>
            </div>
        </div>
        <div class = "nametag-row">
            <div class = "left-nametag">
                <p class = "fullname">
                    fullname
                </p>
                <p class = "position">
                    position
                </p>
                <p class = "company">
                    company
                </p>
                <p class = "citystate">
                    city, state
                </p>
            </div>
            <div class = "right-nametag">
                <p class = "fullname">
                    fullname
                </p>
                <p class = "position">
                    position
                </p>
                <p class = "company">
                    company
                </p>
                <p class = "citystate">
                    city, state
                </p>
            </div>
        </div>
        <div class = "nametag-row">
            <div class = "left-nametag">
                <p class = "fullname">
                    fullname
                </p>
                <p class = "position">
                    position
                </p>
                <p class = "company">
                    company
                </p>
                <p class = "citystate">
                    city, state
                </p>
            </div>
            <div class = "right-nametag">
                <p class = "fullname">
                    fullname
                </p>
                <p class = "position">
                    position
                </p>
                <p class = "company">
                    company
                </p>
                <p class = "citystate">
                    city, state
                </p>
            </div>
        </div>
        <div class = "nametag-row">
            <div class = "left-nametag">
                <p class = "fullname">
                    fullname
                </p>
                <p class = "position">
                    position
                </p>
                <p class = "company">
                    company
                </p>
                <p class = "citystate">
                    city, state
                </p>
            </div>
            <div class = "right-nametag">
                <p class = "fullname">
                    fullname
                </p>
                <p class = "position">
                    position
                </p>
                <p class = "company">
                    company
                </p>
                <p class = "citystate">
                    city, state
                </p>
            </div>
        </div>
        <div class = "nametag-row">
            <div class = "left-nametag">
                <p class = "fullname">
                    fullname
                </p>
                <p class = "position">
                    position
                </p>
                <p class = "company">
                    company
                </p>
                <p class = "citystate">
                    city, state
                </p>
            </div>
            <div class = "right-nametag">
                <p class = "fullname">
                    fullname
                </p>
                <p class = "position">
                    position
                </p>
                <p class = "company">
                    company
                </p>
                <p class = "citystate">
                    city, state
                </p>
            </div>
        </div>
    </div>
{% endblock %}